@import "../layouts/variables.css";

/*Header*/


.blogImage {
  width: 100%;
  object-fit: cover;  
}

.blogContent {
  height: auto;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  opacity: 1;
}

.blogTitle {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-family: headerfont;
  font-size: 6rem;
  line-height: 8rem;
  color: var(--my-color1);
  text-align: left;
}



/*Main*/

.mainText {
  padding-bottom: 5rem;
  text-align: left;
  font-size: 1.8rem;
  line-height: 4rem;
}


.mainText h1 {
  font-weight: bold;
  font-size: 3rem;
  color: var(--my-color2);
  line-height: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.tags {
  margin-bottom: 10rem;
}

.tags p {
  display: inline-block;
  border-bottom: 4px solid var(--my-color2);
  font-size: 2rem;
  margin: 0.4rem;
}

.tags p:hover {
  transition: background-color color 0.25s ease-in;
  background-color: var(--my-color3);
  color: white;
}

.backButton {
  margin-top: 8rem;
  margin-bottom: 8rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 30rem;
  height: 3rem;
  background: var(--my-color2);
}

.backButton a {
  text-decoration: none;
  color: white;
}

.backButton:hover {
  background: var(--my-color1);
  cursor: pointer;
}



/*Main Content for small Screen*/

@media (max-width: 80rem) {

.blogTitle {
  font-size: 4rem;
  line-height: 5rem;
}

.mainText h1 {
  font-size: 2rem;
}
}