@import "../layouts/variables.css";

.navBackground {
  background-color: var(--my-color1);
  height: 10rem;
  width: 100vw;
  max-width:100%;
}

.impressum {
  padding: 10rem;
  padding-top: 20rem;
  width: auto;
  height: auto;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
}

.impressumTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5rem;
}