@import "../layouts/variables.css";

/*Hero Image mit Slogan*/

.sloganImageContainer {
  width: 100%;
}

.sloganImage {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.sloganText {
  color: var(--my-color3);
  position: absolute;
  top: 35vh;
  right: 10%;
  font-size: 10rem;
  line-height: 9rem;
  text-align: center;
  font-family: headerfont;
  display: none;
  width: auto;
}

.sloganText:hover {
  transition: color 0.5s ease;
  color: var(--my-color3);
  cursor: pointer;
}

/*Main Text*/

.contactBody {
  height: auto;
  display: block;
  padding: 10%;
}

.contactHeader {
  font-family: headerfont;
  font-size: 6rem;
  color: var(--my-color2);
  text-align: left;
  padding-bottom: 5%;
}

.contactForm {
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

.contactForm input {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.contactForm input[name=email] {
  height: 3.5rem;
  padding: 1rem;
}

.contactForm input[name=text] {
  height: 15rem;
  padding: 1rem;
}

.contactForm input[type=submit] {
  background-color: var(--my-color2);
  color: white;
  height: 3.5rem;
  border: none;
  margin-top: 3rem;
}

.contactForm input[type=submit]:hover {
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: var(--my-color1);
}

.formField {
  display: none;
}


/*Main Content for small Screen*/

@media (max-width: 80rem) {

.header {
  background: none;
}

.sloganText {
  display: none;
}


/*Main Text*/

.intro {
  padding: 2rem;
  height: auto;
  width: 100%;
  display: block;
}

.contactForm input {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  border: 1px solid grey;
}

.contactForm input[name=email] {
  height: 3rem;
}

.contactForm input[name=text] {
  height: 10rem;
}

.contactForm input[type=submit] {
  background-color: var(--my-color2);
  color: white;
  height: 3rem;
  border: none;
  margin-top: 3rem;
}

}

